[flake8]
max-line-length = 79
extend-ignore =
    E203,
    W503,
    E501,
exclude =
    .eggs,
    .git,
    .pytest_cache,
    .ruff_cache,
    .tox,
    .venv,
    venv,
    build,
    dist,
    migrations,
    __pycache__,
    node_modules,
per-file-ignores =
    __init__.py:F401
    **/asgi.py:E402
    **/settings.py:E402
    **/tests/**:E402,F401,F841
    ai-model/examples/scripts/*.py:E402,F401
    **/migrations/*.py:E501,E402,F401,W293
